<div class="my-32">
  <!-- - với 4 = 1rem (1 rem = 16px)
  w-72 là width
  h-34 là height
  mx-auto là tự động căn lề
-->
  <form class="w-[30rem] mx-auto border-solid border-4 border-gray-300 rounded">
    <a class="float-right m-2" href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </a>
    <h1
      class="text-4xl text-black my-10 flex items-center justify-center font-bold"
    >
      Đăng Nhập
    </h1>
    <p class="flex justify-center my-8">
      Nếu bạn chưa có tài khoản?
      <a class="hover:text-sky-300 text-indigo-700" href=""
        >Tạo tài khoàn mới</a
      >
    </p>

    <div class="mx-5">
      <div class="flex flex-col">
        <label class="text-xl">Email</label>
        <input
          class="h-10 my-2 border-solid border-2"
          type="text"
          placeholder="Email"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xl">Mật Khẩu</label>
        <input
          class="h-10 my-2 border-solid border-2"
          type="password"
          placeholder="Mật khẩu"
        />
      </div>
      <a class="hover:text-sky-300" href="">Quên mật khẩu ?</a>
      <div class="flex justify-center my-8">
        <button
          class="mt-2 flex flex-col justify-center items-center w-full bg-[#785EA8] py-3 -my-4 rounded-3xl text-white hover:bg-purple-500 font-bold"
        >
          Đăng Nhập
        </button>
      </div>
      <p class="flex justify-center">hoặc</p>
      <div class="flex justify-around mb-2">
        <a
          class="text-white h-12 w-1/2 border-solid border-2 flex rounded-3xl my-3 mr-2 justify-center bg-[#3C5A98]"
          href="https://www.facebook.com/"
        >
          <svg
            class="bg-[#fff] rounded-2xl w-6 h-6 mt-[10px]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
          >
            <path
              fill="#1976D2"
              fill-rule="evenodd"
              d="M12 5.5H9v-2a1 1 0 0 1 1-1h1V0H9a3 3 0 0 0-3 3v2.5H4V8h2v8h3V8h2l1-2.5z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
        <a
          class="h-12 w-1/2 border-solid border-2 flex rounded-3xl my-3 justify-center"
          href="https://www.google.com.vn/"
        >
          <svg
            class="rounded-2xl w-6 h-6 mt-[10px]"
            xmlns="http://www.w3.org/2000/svg"
            width="2443"
            height="2500"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 262"
          >
            <path
              fill="#4285F4"
              d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
            />
            <path
              fill="#34A853"
              d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
            />
            <path
              fill="#FBBC05"
              d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
            />
            <path
              fill="#EB4335"
              d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
            />
          </svg>
        </a>
      </div>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
